<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.zs.CodeRuleMapper">

	<resultMap id="BaseResultMap" type="com.ruoyi.system.domain.zs.CodeRule">
		<id column="sequence" jdbcType="INTEGER" property="sequence" />
		<result column="year" jdbcType="INTEGER" property="year" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="biz_id" jdbcType="INTEGER" property="bizId" />
	</resultMap>

	<sql id="Base_Column_List" >
		sequence,
		`year`,
		`type`,
		`active`,
		biz_id
	</sql>

	<insert id="save" useGeneratedKeys="true" >
		insert into code_rule (
			sequence,
			`year`,
			`type`,
			`active`,
			biz_id
		)
 	    values (
 	    	#{sequence},
 	    	#{year},
			#{type},
			#{active},
			#{bizId}
		)
	</insert>

	<update id="updateActiveAndBizId">
		update code_rule set `active` = 0 , biz_id = #{bizId} where `year` = #{year} and `sequence` = #{sequence} and `type` = #{type}
	</update>

	<update id="updateActiveByBizId">
		update code_rule set `active` = 0 where `type` = #{type} and biz_id = #{bizId}
	</update>

	<select id="getAllDataForUpdateByTypeAndYear" resultType="com.ruoyi.system.domain.zs.CodeRule">
		select * from code_rule where `year` = #{year} and `type` = #{type} for update
	</select>

	<update id="updateDisActiveByBizId">
		update code_rule set `active` = 1 where `type` = #{type} and biz_id = #{bizId}
	</update>

</mapper>